.Employers{
    border: 0.5px solid whitesmoke;
    margin: 0 30px;
    border-radius: 0.2rem;
}
.Links:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.2rem;
}
.Links{
    font-weight: 600;
    font-size: large;
}
.Button{
    margin-left: 30px;
}
